<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>calculator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<h1>Расчет отпускных</h1>
<form action="#" th:action="@{/calculator}" th:object="${operationModel}" method="POST">
    <h2>Количество дней отпуска:</h2>
    <input type="number" th:field="*{a}"/>
    <h2>Средняя зарплата за 12 месяцев:</h2>
    <input type="number" th:field="*{b}" step="any"  />
     <p>
             <input type="submit" class="button" name="multiply" value="="/>
       </p>

       <h1><p th:text="${result} "/></h1>
   </form>
   </body>
   </html>


